---
layout: default
---

{{ content }}

{% assign author = site.authors[page.author] %}
{% if author %}
<div class="author">
{% include author.html %}
</div>
{% endif %}

<h1>Writing</h1>
<ul>
{% for p in site.posts do %}
  {% if p.author == page.author %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}
{% endfor %}
</ul>
